@import '../../pages/cm/variables';

.post {
  padding: 35px 100px 20px 100px;
  border-radius: 10px;
  .breakpoint(mobile, { padding: 0; });
}

.post a {
  text-decoration: none;
  color: #429b56; /* */
}

.post > p {
  min-height: 1.1em;
  width: 100%;
}

.post .center {
  text-align: center;
  display: block;
  min-height: 1.1em;
}

.post .right {
  text-align: right;
  min-height: 1.1em;
}

.post .left {
  text-align: left;
  min-height: 1.1em;
}
