.post {
  padding: 35px 100px 20px 100px;
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  border-radius: 10px;
}

.post a {
  text-decoration: none;
  color: #429b56; /* */
}

.post > p {
  min-height: 1.1em;
  width: 100%;
}

.post .center {
  text-align: center;
  display: block;
  min-height: 1.1em;
}

.post .right {
  text-align: right;
  min-height: 1.1em;
}

.post .left {
  text-align: left;
  min-height: 1.1em;
}
