@import "../../pages/cm/variables";

.block {
  min-height: 300px;
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.03);

  .content {
    font-size: 17px;
    line-height: 3rem;
    letter-spacing: 0.1px;
    .breakpoint(mobile, { display: flex; flex-direction: column; justify-content: space-evenly; img {
      margin-top: 50px;
    } });
  }
}
