@import "../../../variables.less";

.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;

  .breakpoint(tablet, { height: 100vh; margin-bottom: 100px; });

  .gradient {
    position: absolute;
    right: 0;
    z-index: -1;

    svg {
      position: relative;
      height: 800px;

      .breakpoint(tablet, { display: none; });
    }

    .breakpoint(tablet, { position: relative; right: 0; left: 0; top: 0; });

    &:after {
      .breakpoint(tablet, { content: ' '; position: absolute; top: 0; right: -3000px; left: 0; height: 1800px; background: @gradient; transform: rotate(-113deg); });
      .breakpoint(700px, { right: -2850px; });
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 96vh;
    grid-gap: 100px;
    align-items: center;

    .breakpoint(tablet, { margin-top: @header-height; display: flex; height: 50vh; });

    .slogan h1 {
      max-width: 450px;
      height: 100px;
      font-size: 3.5rem;
      padding-bottom: 60px;

      .breakpoint(tablet, { max-width: 100%; text-align: center; });
    }

    .graphic {
      .breakpoint(tablet, { position: absolute; bottom: -150px; left: 20px; right: 0; z-index: -1; });
    }

    .button {
      .breakpoint(tablet, { left: 50%; transform: translateX(-50%); position: absolute; });

      .bounce {
        animation: bounce 3s infinite;
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-4px);
  }
}

