@primary-font: 'Lato';
@secondary-font: 'Comic Sans';

@primary-color: #99c448;
@secondary-color: #4a4a4a;
@gradient: linear-gradient(to right bottom, #56cb82, #7acf6c, #9cd155, #c0d140, #e5ce30);
@gradient-hover: linear-gradient(to right bottom, #56cb82 10%, #7acf6c, #9cd155, #c0d140, #e5ce30 80%);

@text-color: #6d6e70;

@header-height: 100px;

@mobile: 767px;
@tablet: 1200px;

.breakpoint(@variable;@content) {
  @media (max-width: @variable) { @content(); }
}

.breakpoint(mobile;@content) {
  @media (max-width: @mobile) { @content(); }
}

.breakpoint(tablet;@content) {
  @media (max-width: @tablet) { @content(); }
}

.breakpoint(desktop;@content) {
  @media (min-width: @tablet + 1) { @content(); }
}

