@mobile: 767px;

@primary-font: 'Lato';
@secondary-font: 'Comic Sans';

@primary-color: #99c448;
@secondary-color: #4a4a4a;
@gradient: linear-gradient(to right bottom, #56cb82, #7acf6c, #9cd155, #c0d140, #e5ce30);

@header-height: 100px;
