@import "../../../variables";


  .duties {
    margin-top: 70px;
    margin-bottom: 60px;
    .breakpoint(tablet, {
      margin-top: 110px;
      margin-bottom: 30px;
     });

    :global(.news-article){
      padding-top: 0;
    }
  }

.content {
  font-size: 17px;
  line-height: 3rem;
  letter-spacing: 0.1px;
}


