.content {
  margin: 100px 0;
  background-color: white;
  border-radius: 8px;
  font-size: 17px;
  line-height: 3rem;
  letter-spacing: 0.1px;
  padding: 0 15px;

  :global(.news-article) {
    padding-top: 0;
  }
  h1 {
    padding: 40px 0;
    text-align: center;
  }
}


