@import "../../variables.less";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: @header-height;
    align-items: center;

    .menu {
      display: flex;
      justify-content: flex-end;
    }
  }
}


