@import "../../variables.less";

.card {
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
}

.href {
  display: block;
  transition: box-shadow 0.2s;

  h2, p {
    color: @text-color;
  }

  &:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  }
}
