.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 300px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh;

  div:first-child {
color:rebeccapurple;
  }

  div:last-child{
      color: orchid;
  }
}
