@import "../../../variables.less";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 70px;
  margin-bottom: 100px;

  .partner {
    text-align: center;
    img {
      max-width: 50%;
      max-height: 93px;
    }
    .imageWrap {
      min-height: 96px;
    }
  }

  .breakpoint(mobile, {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  });
}

