@import "../../../variables";

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding-left: 100px;
  }

  .image {
    padding-top:160px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .info {
    margin: 40px 0 80px 0;
  }

  img {
    width: 35%;
    max-height: 100%;
  }

  p {
    line-height: 3rem;
  }

  .breakpoint(tablet, { display: flex; flex-direction: column-reverse; margin-top: @header-height; text-align: center; h1 {
    padding-left: 0;
    text-align: center;
  } img {
      margin: 30px 0 80px 0; width: 90%;

    } .image {
        align-items: center;  padding-top:20px;
      }
  .info{
    margin: 40px 0 30px 0;
  }
  });
}

.content {
  font-size: 17px;
  line-height: 3rem;
  letter-spacing: 0.1px;
}
