@import "../../../variables";

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;
    img {
      max-width: 80%;
      max-height: 100%;
    }

  p {
    line-height: 3rem;
  }

    .breakpoint(tablet, { display: flex; flex-direction: column-reverse; margin-top: @header-height; height: 100vh; text-align: center; img {
      height: 300px;
    } });
}


.content {
  font-size: 17px;
  line-height: 3rem;
  letter-spacing: 0.1px;
}
