@import "../../../variables";

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-content: center;
  grid-gap: 100px;

  h1 {
    padding-left: 100px;
  }

  img {
    max-width: 80%;
    max-height: 100%;
  }

  p {
    line-height: 3rem;
  }

  .breakpoint(tablet, { display: flex; flex-direction: column-reverse; margin-top: @header-height;  text-align: center;
  h1 {
    padding-left: 0;
    text-align: center;
    margin-top:30px;
  }
  img {
    margin-bottom: 20px;
  }
   });
}

.content {
  font-size: 17px;
  line-height: 3rem;
  letter-spacing: 0.1px;
}
