@import "../../../variables";

.block {
  min-height: 300px;
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.03);

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    grid-gap: 100px;

    .breakpoint(mobile, {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      img {
        height: 300px;
        margin-top: 50px;
      }
    });
  }
}
